/* zestovací zona */

/* konec zestovací zóny */

body {
    margin: 0;
    padding: 0;
    background:#18293b;

}

.slider {
width:45rem;
 aspect-ratio: 16/9;
    overflow: hidden;

}

.slide img {
    width: 100%;
    /* object-fit: cover; */
    aspect-ratio: 16/9;
    /* margin: 0 auto; */
    height: 100%;


}
.middle{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}



.nav {
    position: absolute;
 
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: .5rem;
}
.bar {
    width: 50px;
    height: 10px;
    border:2px solid #fff;
    margin: 6px;
    cursor: pointer;
    border-radius: 5px;
}

.bar:hover{

    background-color: #441ab7;
    opacity: 0.5;

}
.bar:active{
    background-color: #fff;
    opacity: 0.5;
}




input[name="r"] {
    display: none;
}

.slides{
    display: flex;
    width:500%;
    height: 100%;

}

.slide{
    width:45rem;
  transition:.5s ease-in-out;
}

#r1:checked ~ .s1{ 
    margin-left: 0;
}
#r2:checked ~ .s1{ 
    margin-left: -20%;
}
#r3:checked ~ .s1{ 
    margin-left: -90rem;
}
#r4:checked ~ .s1{  
    margin-left: -60%;
}   
#r5:checked ~ .s1{
    margin-left: -180rem;
}               