

main {
 
    min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.244), rgba(0, 0, 0, 0.29)),
  url(../img/hogwarts-admin-background-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.main-heading h1{
  color: rgb(255, 0, 0);
  font-size:40px; 
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  color: rgb(255, 255, 255)
}

.filter {
  text-align: center;
  margin-bottom: 30px;
 
}

.filter-input{
  width: 300px;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border:none;
}

.filter-input:focus{
  background-color:rgb(189, 167, 45, .7)
}

.all-students{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

.one-student{
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.476);
  text-align: center;
  border-radius: 10px;
  transition: 0.1s;
}

.one-student:hover{
  transform: scale(1.05);
}
.one-student a {
  text-decoration: none;
  font-size:20px;
  padding: 8px 15px;
  background: rgb(189, 167, 45) ;
  color: white;
  margin-top:15px;
  transition: 0.05s;
}
.one-student a:hover{
  transform: scale(1.1);
  background: rgba(255, 213, 1, 0.722);
  box-shadow: 0px 0px 10px rgb(255, 255, 82);
}  